<div class="vertical-menu">
    <div data-simplebar class="h-100">
        <div class="navbar-brand-box">
            <a href="/" class="logo">
                <i class="mdi mdi-alpha-x-circle"></i>
                <span>OBS</span>
            </a>
        </div>
        <div id="sidebar-menu">
            <ul class="metismenu list-unstyled" id="side-menu">
                <li class="menu-title">ADMIN</li>
                <li>
                    <a href="/AdminDashboard/Index" class="waves-effect">
                        <i class="feather-airplay"></i>
                        <span>Dashboard</span>
                    </a>
                </li>
                <li>
                    <a href="/AdminFaculty/Index" class="waves-effect">
                        <i class="fas fa-university me-1"></i>
                        <span>Fakülte İşlemleri</span>
                    </a>
                </li>
                <li>
                    <a href="/AdminDepartment/Index" class="waves-effect">
                        <i class="feather-layers"></i>
                        <span>Bölüm İşlemleri</span>
                    </a>
                </li>
                <li>
                    <a href="/AdminCourse/Index" class="waves-effect">
                        <i class="feather-book-open"></i>
                        <span>Ders İşlemleri</span>
                    </a>
                </li>
                <li>
                    <a href="/AdminExam/Index" class="waves-effect">
                        <i class="feather-edit"></i>
                        <span>Sınav İşlemleri</span>
                    </a>
                </li>
                <li>
                    <a href="/AdminStudent/Index" class="waves-effect">
                        <i class="feather-user"></i>
                        <span>Öğrenci İşlemleri</span>
                    </a>
                </li>
                <li>
                    <a href="/AdminTeacher/Index" class="waves-effect">
                        <i class="fa fa-chalkboard-teacher"></i>
                        <span>Öğretim Üyesi İşlemleri</span>
                    </a>
                </li>
                <li>
                    <a href="/AdminAdvisor/Index" class="waves-effect">
                        <i class="fa-solid fa-user-graduate	"></i>
                        <span>Danışmanlık İşlemleri</span>
                    </a>
                </li>
                <li class="menu-title">ÖĞRETİM ÜYESİ</li>
                <li>
                    <a href="/TeacherDashboard/Index" class="waves-effect">
                        <i class="feather-airplay"></i>
                        <span>Dashboard</span>
                    </a>
                </li>
                <li>
                    <a href="/TeacherAdvising/Index" class="waves-effect">
                        <i class="fas fa-user-graduate me-1"></i>
                        <span>Danışmanlık İşlemleri</span>
                    </a>
                </li>
                <li>
                    <a href="/TeacherCourse/Index" class="waves-effect">
                        <i class="feather-book-open"></i>
                        <span>Ders İşlemleri</span>
                    </a>
                </li>
                <li>
                    <a href="javascript: void(0);" class="has-arrow waves-effect">
                        <i class="feather-edit"></i>
                        <span>Sınav İşlemleri</span>
                    </a>
                    <ul class="sub-menu" aria-expanded="false">
                        <li><a href="/TeacherExam/CreateExam">Sınav Tanımla</a></li>
                        <li><a href="/TeacherExam/EnterGrades">Sınav Notu Girişi</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</div>