<footer class="footer">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-6">
                @DateTime.Now.Year © Üniversite Bilgi Sistemleri | Tüm Hakları Saklıdır.
            </div>
            <div class="col-sm-6">
                <div class="text-sm-right d-none d-sm-block">
                    Tasarım & Geliştirme Hikmet ÖTER
                </div>
            </div>
        </div>
    </div>
</footer>